.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  display: inline-block;
  &--colored {
    color: $accent;
  }
  &--dark {
    color: $logo-dark;
    margin-right: 93px;
  }
  &--light {
    color: $logo-light;
    margin-bottom: 20px;
  }
}
